//
// MIT License
//
// Copyright (c) 2021 Gwyn M. Davies
// 
// Permission is hereby granted, free of charge, to any person obtaining a copy
// of this software and associated documentation files (the "Software"), to deal
// in the Software without restriction, including without limitation the rights
// to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
// copies of the Software, and to permit persons to whom the Software is
// furnished to do so, subject to the following conditions:
//
// The above copyright notice and this permission notice shall be included in all
// copies or substantial portions of the Software.
// 
// THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
// IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
// FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
// AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
// LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
// OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
// SOFTWARE.
//
doctype html
html
  include includes/header.pug

  body.d-flex.flex-column.h-100
    div.container
      include includes/navbar.pug
      
      div(id="watermark")
        p Test Automation Practice App

      br
      h3 IFrame
      br
      br

      p
      h4 Internal IFrame 
      p
      p
      iframe(id="IFrameContact" width="100%" height="100%" frameborder="1" scrolling="no" marginheight="0" marginwidth="0" src="/iframe_email_subscribe")
      p 
      p
      hr 
      p
      p
      h4 External IFrame 
      p
      iframe(id="IFrameYouTube"  data-cy="external-iframe-youtube" <iframe width="560" height="315" src="https://www.youtube.com/embed/LczBDR0gOhk" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)
      p 
      p
      
      include includes/fixed-footer.pug
	  
    include includes/scripts.pug
