//
// MIT License
//
// Copyright (c) 2021 Gwyn M. Davies
// 
// Permission is hereby granted, free of charge, to any person obtaining a copy
// of this software and associated documentation files (the "Software"), to deal
// in the Software without restriction, including without limitation the rights
// to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
// copies of the Software, and to permit persons to whom the Software is
// furnished to do so, subject to the following conditions:
//
// The above copyright notice and this permission notice shall be included in all
// copies or substantial portions of the Software.
// 
// THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
// IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
// FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
// AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
// LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
// OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
// SOFTWARE.
//
doctype
html
  include includes/header.pug
 
  body.d-flex.flex-column.h-100
    div.container
      include includes/navbar.pug
      
      div(id="watermark")
        p Test Automation Practice App

      br
      h3 Home
      br 
      br 

      div.row
        div.col-lg-2
          button(id="browser_type" onclick="toggleBrowserType()").btn.btn-outline-dark Browser type
      
      br

      div.row
        div(id="browser_div" style="display: none").container
          div.row
            div.col-lg-2
              label Chromium
            div.col-lg-10 
              span.output-chromium
          div.row
            div.col-lg-2
              label Firefox
            div.col-lg-10 
              span.output-firefox          
          div.row
            div.col-lg-2
              label WebKit
            div.col-lg-10 
              span.output-webkit

      include includes/fixed-footer.pug

    include includes/scripts.pug

    script(type="text/javascript" charset="utf-8").
      function checkBrowser() {    
        // Get the user-agent string
        let userAgentString = navigator.userAgent

        // Detect Chrome
        let chromiumAgent = userAgentString.indexOf("Chrome") > -1
        
        // Detect Firefox
        let firefoxAgent = userAgentString.indexOf("Firefox") > -1
        
        // Detect WebKit
        let webkitAgent = userAgentString.indexOf("AppleWebKit") > -1
        // Discard Chromium since it also matches Safari    
        if ((chromiumAgent) && (webkitAgent)) 
            webkitAgent = false

        document.querySelector(".output-chromium").textContent = chromiumAgent
        document.querySelector(".output-firefox").textContent = firefoxAgent
        document.querySelector(".output-webkit").textContent = webkitAgent
      }
    script(type="text/javascript" charset="utf-8").
      checkBrowser()
    script(type="text/javascript" charset="utf-8").
      function toggleBrowserType(){
        var x = document.getElementById("browser_div")
        if(x.style.display === "none"){
          x.style.display = "block"
        } else {
          x.style.display = "none"
        }
      }
